/* h1{
    color: red;
}
.Head4{
    color: teal;
}
.mainDiv{
    height: 1000px;
    background-color: blue;
}
.HeaderDiv{
    background-color: red;
 
   
}
a{
    color: yellow;
}
.Home{
    background-color: black;
}
.subDiv{
    background-color: rgb(50, 156, 205);
}
.subLeft{
    background-color: rgb(9, 255, 0);
    margin-top: 100px;
    width: 150px;;
} */





.HeadDiv{
    height: 100px;
    background-color: blue;
    display: flex;
}
.leftNav{
    height: 100px;
    /* background-color: blueviolet; */
    width: 50%;
}
.rightNav{
    height: 100px;
    /* background-color: aqua; */
    width: 50%;
}
h2{
    margin-left: 20px;
    margin-top: 20px;
    color: green;

}