h3{
    color: aqua;
}
.mainDiv{
    background-color: blueviolet;
}
.headH1{
    background-color: blanchedalmond;
    color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 300%;
  margin-left: 50px;
}
.headH12{
    border: 2px solid powderblue;
}